body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#login {
    padding: 40px 0px 0px 0px;
}

#like {
    padding-top: 40px;
}

/* Change the status font, color etc. */
#status {
    color: #55a6c2;
}
/*
!* Vertical Center Alignment *!
body {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.jumbotron {
    display: table-cell;
    vertical-align: middle;
    background-color: inherit; !important;
}*/

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/Preloader_2.gif) center no-repeat #fff;
}
