body {
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#login {
    padding: 40px 0px 0px 0px;
}

#like {
    padding-top: 40px;
    margin: 0 auto;
    width: 350px;
}

/* Change the status font, color etc. */
#status {
    color: #5bc0de;
}

#submitButton {
    margin-top: 30px;
    margin-bottom: 30px;
}

.first-box{padding:10px;background: #747474; color: white;}
.second-box{padding:10px; background: #5bc0de;color: white;}
.third-box{padding:10px;background: #487f9a;color: white;}
.fourth-box{padding:10px;background: #515151;color: white;}
.noDec {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
a:hover {
    color: inherit;
}
/*
!* Vertical Center Alignment *!
body {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.jumbotron {
    display: table-cell;
    vertical-align: middle;
    background-color: inherit; !important;
}*/

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/Preloader_2.gif) center no-repeat #fff;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #5bc0de;
    font-family: 'Raleway', sans-serif;
}
.header {
    text-align: center;
    font-weight: bold;
    color: #5bc0de;
    font-family: 'Amatic SC', "Courier New";
}
.subHeader {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #515151;
    font-family: 'Amatic SC', "Courier New";
}

.steps li {
    padding-bottom: 15px;
}

.subHeader2 {
    text-align: center;
    font-weight: bold;
    color: #515151;
    font-family: 'Raleway', sans-serif;
}
footer {
    margin: 50px 0;
    text-align: center;
}

#loginDiv {
    margin-top: 20px;
    margin-bottom: 50px;
}